header.header
    .header__mobile
        a(href='#').header__logo
                .header__logo-svg
                    img(src="img/svg/logo.svg", alt="")
        button(type='button').header__burger.btn
            span
            span
            span

    .header__wrap
        .header__top
            .header__container
                .header__geo
                    .header__geo-svg
                        img(src="img/svg/geo.svg", alt="")
                    .header__geo-text.text-desc-3.color-black Производство машинной вышивки
                    button(type='button').header__geo-city.btn.btn-blank-blue
                        p.text-desc-3.color-blue в Иваново
                nav.header__nav
                    a(href='#').header__nav-item.link.text-desc-3.color-black.hover О компании
                    button(type='button').header__nav-item
                        a.link.text-desc-3.color-black.hover Наши услуги
                        ul.header__embroidery.embroidery
                            ul.embroidery__column
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Вышивка на одежде
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на куртках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на масках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на носках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на кепках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на поло
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на спецодежде
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на спортивных костюмах
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на толстовках и худи
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на фартуках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на футболках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на халатах
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на джинсовке
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на шапках
                            ul.embroidery__column
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Сувенирная вышивка
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на пледах
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на подушках
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на полотенцах
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на салфетках и скатертях
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover 3D-вышивка
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Вышивка логотипов
                            ul.embroidery__column
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Вышивка на крое
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на флисе
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на трикотаже
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Вышивка на бархате
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Церковная вышивка
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Вышивка эмблем и гербов
                            ul.embroidery__column
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Шевроны и нашивки
                                li.embroidery__item-text
                                    a(href='#').embroidery__link.link.text-desc-1.color-grey.hover Военные шевроны
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Вышивка  картин
                                li.embroidery__item-title
                                    a(href='#').embroidery__link.link.text-desc-2.color-black.hover Вышивка на коже

                    a(href='#').header__nav-item.link.text-desc-3.color-black.hover Портфолио
                    a(href='#').header__nav-item.link.text-desc-3.color-black.hover Цены
                    a(href='#').header__nav-item.link.text-desc-3.color-black.hover Статьи
                    a(href='#').header__nav-item.link.text-desc-3.color-black.hover Контакты

        .header__bottom
            .header__container
                a(href='#').header__logo
                    .header__logo-svg
                        img(src="img/svg/logo.svg", alt="")
                .header__contact
                    a(href='tel:+7 (4932) 930 998').header__contact-tel.link.color-blue.hover +7 (4932) 930 998
                    a(href='mailto:1p@istokprom.ru').header__contact-mail.link.color-blue.hover 1p@istokprom.ru
                    .header__contact-schedule.color-black пн-пт с 9:00 до 17:00
                menu.header__menu
                    a(href='#').header__menu-item.link.text-desc-3.color-black.hover О компании
                    button(type='button').header__menu-item.text-desc-3.color-black.hover 
                        | Наши услуги
                        img(src="img/svg/arrow-black-bottom.svg", alt="")
                        ul.header__menu-submenu
                            li.text-desc-3.color-black.hover Вышивка на пледах
                            li.text-desc-3.color-black.hover Вышивка на подушках
                            li.text-desc-3.color-black.hover Вышивка на полотенцах
                            li.text-desc-3.color-black.hover Вышивка на салфетках и скатертях
                    a(href='#').header__menu-item.link.text-desc-3.color-black.hover Портфолио
                    a(href='#').header__menu-item.link.text-desc-3.color-black.hover Цены
                    a(href='#').header__menu-item.link.text-desc-3.color-black.hover Статьи
                    a(href='#').header__menu-item.link.text-desc-3.color-black.hover Контакты
                label(for='header-input-search').header__search.btn.btn-tr-blue
                    input(type='text' id='header-input-search' placeholder='Поиск').header__search-input.text-desc-2.color-black
                    button(type='submit').header__search-button
                        img(src="img/svg/search.svg", alt="")
                    a(href="#").header__search-svg
                        img(src="img/svg/search.svg", alt="")
                button(type='button').header__order.btn.btn-tr-blue
                    p.text-desc-2.color-blue Заказать вышивку
