extends ../layouts/default

block variables
	- const title = "Main";

block content
	include ../../blocks/modules/header/header
	
	.main-page
		section.section.section__banner
			.main-page__banner.banner.swiper
				.swiper-wrapper
					.swiper-slide.banner__slide
						.banner__info
							h1(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000").banner__info-title.title-mob-1.color-white Производство машинной вышивки любой сложности
							p(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="500" data-aos-duration="1000").banner__info-subtitle.text-mob-1.color-white Вышиваем на готовых изделиях и элементах кроя, полотнах и головных уборах.
							.banner__info-block
								.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
									p.banner__info-name.text-mob-1.color-white-07 Малые партии
									p.banner__info-value.title-mob-3.color-white От 50 шт.
								.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
									p.banner__info-name.text-mob-1.color-white-07 Большие партии
									p.banner__info-value.title-mob-3.color-white 20 - 50 тыс шт.
						.banner__img
							img(src="./img/picture/picture-sweatshirt.png", alt="Свитшот с логотипом")
						.banner__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
							a(href="#").banner__link.link.btn.btn-red
								p.text-desc-2.color-white Заказать вышивку
							a(href="#").banner__link.link.btn.btn-tr-white
								p.text-desc-2.color-white Подробнее
					.swiper-slide.banner__slide
						.banner__info
							h1(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000").banner__info-title.title-mob-1.color-white Производство машинной вышивки любой сложности
							p.banner__info-subtitle.text-mob-1.color-white Вышиваем на готовых изделиях и элементах кроя, полотнах и головных уборах.
							.banner__info-block
								.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
									p.banner__info-name.text-mob-1.color-white-07 Малые партии
									p.banner__info-value.title-mob-3.color-white От 50 шт.
								.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
									p.banner__info-name.text-mob-1.color-white-07 Большие партии
									p.banner__info-value.title-mob-3.color-white 20 - 50 тыс шт.
						.banner__img
							img(src="./img/picture/picture-sweatshirt.png", alt="Свитшот с логотипом")
						.banner__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
							a(href="#").banner__link.link.btn.btn-red
								p.text-desc-2.color-white Заказать вышивку
							a(href="#").banner__link.link.btn.btn-tr-white
								p.text-desc-2.color-white Подробнее
					.swiper-slide.banner__slide
							.banner__info
								h1(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000").banner__info-title.title-mob-1.color-white Производство машинной вышивки любой сложности
								p.banner__info-subtitle.text-mob-1.color-white Вышиваем на готовых изделиях и элементах кроя, полотнах и головных уборах.
								.banner__info-block
									.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
										p.banner__info-name.text-mob-1.color-white-07 Малые партии
										p.banner__info-value.title-mob-3.color-white От 50 шт.
									.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
										p.banner__info-name.text-mob-1.color-white-07 Большие партии
										p.banner__info-value.title-mob-3.color-white 20 - 50 тыс шт.
							.banner__img
								img(src="./img/picture/picture-sweatshirt.png", alt="Свитшот с логотипом")
							.banner__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
								a(href="#").banner__link.link.btn.btn-red
									p.text-desc-2.color-white Заказать вышивку
								a(href="#").banner__link.link.btn.btn-tr-white
									p.text-desc-2.color-white Подробнее
					.swiper-slide.banner__slide
							.banner__info
								h1(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000").banner__info-title.title-mob-1.color-white Производство машинной вышивки любой сложности
								p.banner__info-subtitle.text-mob-1.color-white Вышиваем на готовых изделиях и элементах кроя, полотнах и головных уборах.
								.banner__info-block
									.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
										p.banner__info-name.text-mob-1.color-white-07 Малые партии
										p.banner__info-value.title-mob-3.color-white От 50 шт.
									.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
										p.banner__info-name.text-mob-1.color-white-07 Большие партии
										p.banner__info-value.title-mob-3.color-white 20 - 50 тыс шт.
							.banner__img
								img(src="./img/picture/picture-sweatshirt.png", alt="Свитшот с логотипом")
							.banner__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
								a(href="#").banner__link.link.btn.btn-red
									p.text-desc-2.color-white Заказать вышивку
								a(href="#").banner__link.link.btn.btn-tr-white
									p.text-desc-2.color-white Подробнее
					.swiper-slide.banner__slide
						.banner__info
							h1(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000").banner__info-title.title-mob-1.color-white Производство машинной вышивки любой сложности
							p.banner__info-subtitle.text-mob-1.color-white Вышиваем на готовых изделиях и элементах кроя, полотнах и головных уборах.
							.banner__info-block
								.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
									p.banner__info-name.text-mob-1.color-white-07 Малые партии
									p.banner__info-value.title-mob-3.color-white От 50 шт.
								.banner__info-batch(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
									p.banner__info-name.text-mob-1.color-white-07 Большие партии
									p.banner__info-value.title-mob-3.color-white 20 - 50 тыс шт.
						.banner__img
							img(src="./img/picture/picture-sweatshirt.png", alt="Свитшот с логотипом")
						.banner__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1000" data-aos-duration="1000")
							a(href="#").banner__link.link.btn.btn-red
								p.text-desc-2.color-white Заказать вышивку
							a(href="#").banner__link.link.btn.btn-tr-white
								p.text-desc-2.color-white Подробнее
				.swiper-pagination
				
		section.section.section__advantages
			.advantages
				.section__container
					.section__title(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600")
						h2.advantages__title.title-mob-2.color-black Вышиваем на любых видах ткани
					ul.advantages__list
						li.advantages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200")
							p.advantages__number.title-mob-2.color-dark-blue <span data-max='12'>0</span> лет
							p.advantages__text.text-mob-1.color-grey на рынке
							p.advantages__info.text-mob-1.color-grey Большинство заказов мы отшиваем за 2-3 дня. Для объема партий от 15 000 шт срок может быть до 5 дней
						li.advantages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400")
							p.advantages__number.title-mob-2.color-dark-blue <span data-max='3'>0</span> дня
							p.advantages__text.text-mob-1.color-grey срок изготовления
							p.advantages__info.text-mob-1.color-grey Большинство заказов мы отшиваем за 2-3 дня. Для объема партий от 15 000 шт срок может быть до 5 дней
						li.advantages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
							p.advantages__number.title-mob-2.color-dark-blue <span data-max='365'>0</span> дней
							p.advantages__text.text-mob-1.color-grey принимаем заказы
							p.advantages__info.text-mob-1.color-grey На связи каждый день, а также в выходные и праздники с 9:00 до 17:00. После 17:00 можно оставить заявку. Мы свяжемся на следующий день.
						li.advantages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
							p.advantages__number.title-mob-2.color-dark-blue <span data-max='10'>0</span> машин
							p.advantages__text.text-mob-1.color-grey собственное производство
							p.advantages__info.text-mob-1.color-grey 10 вышивальных машин Barudan, обеспечивают высокую скорость вышивки и высокое качество. Подробнее о производстве.
					.advantages__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
						a(href="#").advantages__link.link.btn.btn-blue
							p.text-desc-2.color-white Оставить заявку
						a(href="#").advantages__link.link.btn.btn-tr-blue
							p.text-desc-2.color-blue О производстве
	
		section.section.section__products
			.section__container-right.products
				.section__title
					h2.products__title.title-mob-2.color-black(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600") Продукция
					.products__arrows(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200")
						button(type='button').products__arrow.products__arrow-prev.btn.btn-tr-blue 
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 15L14 10L9 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						button(type='button').products__arrow.products__arrow-next.btn.btn-tr-blue 
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 15L14 10L9 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
				.products__slider.swiper
					.swiper-wrapper
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка на одежде
								p.products__slide-text.text-mob-1.color-grey Вышивка на одежде по многим показателям превосходит другие методы нанесения, такие как шелкография или трансферная печать 
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка эмблем и гербов
								p.products__slide-text.text-mob-1.color-grey Выполняется на ткани разной плотности и состава, элементах кроя.
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка логотипов
								p.products__slide-text.text-mob-1.color-grey В «Студии Исток-Пром» можно заказать вышивку логотипа на ткани, элементах кроя, готовых изделиях
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка логотипов
								p.products__slide-text.text-mob-1.color-grey В «Студии Исток-Пром» можно заказать вышивку логотипа на ткани, элементах кроя, готовых изделиях
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка логотипов
								p.products__slide-text.text-mob-1.color-grey В «Студии Исток-Пром» можно заказать вышивку логотипа на ткани, элементах кроя, готовых изделиях
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка логотипов
								p.products__slide-text.text-mob-1.color-grey В «Студии Исток-Пром» можно заказать вышивку логотипа на ткани, элементах кроя, готовых изделиях
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка логотипов
								p.products__slide-text.text-mob-1.color-grey В «Студии Исток-Пром» можно заказать вышивку логотипа на ткани, элементах кроя, готовых изделиях
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее
						.swiper-slide.products__slide(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
							.products__slide-img
								img(src="./img/picture/products-1.png", alt="")
							
							.products__slide-block
								h4.products__slide-title.title-mob-4.color-black Вышивка логотипов
								p.products__slide-text.text-mob-1.color-grey В «Студии Исток-Пром» можно заказать вышивку логотипа на ткани, элементах кроя, готовых изделиях
								
								.products__slide-links
									a(href="#").products__slide-link.link.btn.btn-red
										p.text-desc-2.color-white Заказать
									a(href="#").products__slide-link.link.btn.btn-tr-grey
										p.text-desc-2.color-black Подробнее

		section.section.section__examples
			.examples
				.section__title
					h2.examples__title.title-mob-2.color-black(data-aos="zoom-in" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000") Примеры работ
				ul.examples__list.swiper
					.swiper-wrapper
						li.swiper-slide.examples__item.item
							.item__wrap
								.item__img(data-aos="zoom-in" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000")
									span.item__img-name.text-mob-2.color-black Вышивка на подушке
									img(src="./img/picture/examples-1.png", alt="")
								ul.item__showing.showing
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200")
										p.text-mob-1.color-grey Размер вышивки
										h2.title-mob-2.color-blue 10*15 см
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400")
										p.text-mob-1.color-grey Количество в заказе
										h2.title-mob-2.color-blue 50 шт.
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
										p.text-mob-1.color-grey Срок выполнения
										h2.title-mob-2.color-blue 2 дня
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
										p.text-mob-1.color-grey Стоимость
										h2.title-mob-2.color-blue 3 000₽
								.item__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
									a(href="#").item__link.link.btn.btn-red
										p.text-mob-2.color-white Заказать
									a(href="#").item__link.link.btn.btn-tr-grey
										p.text-mob-2.color-black Все услуги
						li.swiper-slide.examples__item.item
							.item__wrap
								.item__img(data-aos="zoom-in" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000")
									span.item__img-name.text-mob-2.color-black Вышивка на подушке
									img(src="./img/picture/examples-1.png", alt="")
								ul.item__showing.showing
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200")
										p.text-mob-1.color-grey Размер вышивки
										h2.title-mob-2.color-blue 10*15 см
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400")
										p.text-mob-1.color-grey Количество в заказе
										h2.title-mob-2.color-blue 50 шт.
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
										p.text-mob-1.color-grey Срок выполнения
										h2.title-mob-2.color-blue 2 дня
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
										p.text-mob-1.color-grey Стоимость
										h2.title-mob-2.color-blue 3 000₽
								.item__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
									a(href="#").item__link.link.btn.btn-red
										p.text-mob-2.color-white Заказать
									a(href="#").item__link.link.btn.btn-tr-grey
										p.text-mob-2.color-black Все услуги
						li.swiper-slide.examples__item.item
							.item__wrap
								.item__img(data-aos="zoom-in" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000")
									span.item__img-name.text-mob-2.color-black Вышивка на подушке
									img(src="./img/picture/examples-1.png", alt="")
								ul.item__showing.showing
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200")
										p.text-mob-1.color-grey Размер вышивки
										h2.title-mob-2.color-blue 10*15 см
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400")
										p.text-mob-1.color-grey Количество в заказе
										h2.title-mob-2.color-blue 50 шт.
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
										p.text-mob-1.color-grey Срок выполнения
										h2.title-mob-2.color-blue 2 дня
									li.showing__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
										p.text-mob-1.color-grey Стоимость
										h2.title-mob-2.color-blue 3 000₽
								.item__links(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="1000")
									a(href="#").item__link.link.btn.btn-red
										p.text-mob-2.color-white Заказать
									a(href="#").item__link.link.btn.btn-tr-grey
										p.text-mob-2.color-black Все услуги
				.examples__pagination
					.examples__pagination-wrap
					.examples__pagination-plug
				.examples__arrows 
					button(type='button').examples__arrow.examples__arrow-prev.btn.btn-tr-blue 
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 15L14 10L9 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					button(type='button').examples__arrow.examples__arrow-next.btn.btn-tr-blue 
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 15L14 10L9 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

				.examples__video.video
					.video__info
						h2.video__info-title.title-mob-2.color-black(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600") Вышивка от компании «Студия Исток-Пром»
						h3.video__info-subtitle.title-mob-3.color-black(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200") Добро пожаловать на сайт компании «СТУДИЯ Исток-Пром»! С 2010 года мы предлагаем услуги вышивки любой сложности на изделиях по корпоративному или личному заказу. 
						p.video__info-text.text-mob-1.color-black(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400") В свой работе мы используем только качественное высокоскоростное оборудование японского производства BARUDAN. Изготовление логотипов возможно на любом виде ткани, на крое или готовой одежде.
					.video__block
						button(type='button').video__block-btn
							<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32.1913 25.9706L19.4659 33.7638C18.3859 34.4245 17 33.6245 17 32.2925V16.7063C17 15.3765 18.3839 14.5743 19.4659 15.2371L32.1913 23.0303C32.4369 23.1783 32.6411 23.3923 32.7832 23.6504C32.9252 23.9086 33 24.2019 33 24.5005C33 24.799 32.9252 25.0923 32.7832 25.3505C32.6411 25.6087 32.4369 25.8226 32.1913 25.9706Z" fill="white"/>
							</svg>
						img(src="./img/picture/video-1.png", alt="")
					button(type='button').video__btn.btn.btn-tr-blue(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
						p.text-desc-2.color-blue Узнать больше
						

		section.section.section__stages
			.stages
				.section__container
					.section__title
						h2.stages__title.title-mob-2.color-black(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000") Этапы работы
					ul.stages__list
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="100")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 1.
									span Заявка онлайн
								p.stages__text.text-mob-1.color-grey Вы оставляете заявку у нас на сайте
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="200")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 2.
									span Расчет
								p.stages__text.text-mob-1.color-grey Мы уточняем детали, делаем расчёт
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="200")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon") 
							.stages__block
								h4.stages__number.title-mob-4.color-black 3.
									span Согласование
								p.stages__text.text-mob-1.color-grey Согласовываем с вами заказ
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="400")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 4.
									span Утверждение
								p.stages__text.text-mob-1.color-grey Утверждаем образец вышивки
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="500")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 5.
									span Программа
								p.stages__text.text-mob-1.color-grey Разрабатываем программу, вышиваем образец
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="400")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 6.
									span Оплата
								p.stages__text.text-mob-1.color-grey Принимаем оплату удобным для вас способом
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="700")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 7.
									span Изготовление заказа
								p.stages__text.text-mob-1.color-grey Вышиваем заказ, обрабатываем, упаковываем
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="800")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 8.
									span Сдаем заказ
								p.stages__text.text-mob-1.color-grey Сдаём заказ со склада или доставляем
						li.stages__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="1000")
							.stages__svg
								img(src="img/svg/stages-1.svg", alt="icon")
							.stages__block
								h4.stages__number.title-mob-4.color-black 9.
									span Повторный заказ
								p.stages__text.text-mob-1.color-grey 90% клиентов размещают у нас новый заказ

		section.section.section__workers
			.workers
				.section__container-right
					.section__title
						h2.workers__title.title-mob-2.color-black Кто с нами работает
					ul.workers__list.workers__tabs.swiper
						.swiper-wrapper
							li.swiper-slide.workers__tab
								p.text-mob-1.color-black Физические лица
							li.swiper-slide.workers__tab
								p.text-mob-1.color-black Сфера услуг
							li.swiper-slide.workers__tab
								p.text-mob-1.color-black Государственные учреждения
							li.swiper-slide.workers__tab
								p.text-mob-1.color-black Рестораны и отели
							li.swiper-slide.workers__tab
								p.text-mob-1.color-black Крупные магазины
					
					ul.workers__list.workers__worker.swiper
						.swiper-wrapper
							li.swiper-slide.workers__worker-item
								.workers__worker-img
									img(src="./img/picture/worker-1.png", alt="")
								
								.workers__worker-block
									h4.workers__worker-title.title-mob-4.color-black Физические лица
									p.workers__worker-text.text-mob-1.color-grey Принимаем заказы от 50 штук. Выполняем вышивки на одежде, текстиле и другие виды вышвки 
									
									a(href="#").workers__worker-link.link.btn.btn-red
										p.text-mob-2.color-white Заказать вышивку
							
							li.swiper-slide.workers__worker-item
								.workers__worker-img
									img(src="./img/picture/worker-1.png", alt="")
								
								.workers__worker-block
									h4.workers__worker-title.title-mob-4.color-black Сфера услуг
									p.workers__worker-text.text-mob-1.color-grey Вышивка для формы обслуживающего персонала
									
									a(href="#").workers__worker-link.link.btn.btn-red
										p.text-mob-2.color-white Заказать вышивку
							
							li.swiper-slide.workers__worker-item
								.workers__worker-img
									img(src="./img/picture/worker-1.png", alt="")
								
								.workers__worker-block
									h4.workers__worker-title.title-mob-4.color-black Физические лица
									p.workers__worker-text.text-mob-1.color-grey Принимаем заказы от 50 штук. Выполняем вышивки на одежде, текстиле и другие виды вышвки 
									
									a(href="#").workers__worker-link.link.btn.btn-red
										p.text-mob-2.color-white Заказать вышивку
							
							li.swiper-slide.workers__worker-item
								.workers__worker-img
									img(src="./img/picture/worker-1.png", alt="")
								
								.workers__worker-block
									h4.workers__worker-title.title-mob-4.color-black Сфера услуг
									p.workers__worker-text.text-mob-1.color-grey Вышивка для формы обслуживающего персонала
									
									a(href="#").workers__worker-link.link.btn.btn-red
										p.text-mob-2.color-white Заказать вышивку
							
							li.swiper-slide.workers__worker-item
								.workers__worker-img
									img(src="./img/picture/worker-1.png", alt="")
								
								.workers__worker-block
									h4.workers__worker-title.title-mob-4.color-black Физические лица
									p.workers__worker-text.text-mob-1.color-grey Принимаем заказы от 50 штук. Выполняем вышивки на одежде, текстиле и другие виды вышвки 
									
									a(href="#").workers__worker-link.link.btn.btn-red
										p.text-mob-2.color-white Заказать вышивку

		section.section.section__clients
			.clients
				.section__title
					h2.clients__title.title-mob-2.color-black Наши клиенты
				.clients__list.swiper
					.swiper-wrapper
						.swiper-slide.clients__item
							!="1"
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							!="2"
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							!="3"
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							img(src="./img/picture/clients-1.png", alt="")
						.swiper-slide.clients__item
							!="last"
							img(src="./img/picture/clients-1.png", alt="")
					.swiper-pagination

		section.section.section__reviews
			.reviews
				.section__container-right
					.section__title
						h2.reviews__title.title-mob-2.color-black(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000") Отзывы клиентов
						.reviews__arrows(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-delay="200")
							button(type='button').reviews__arrow.reviews__arrow-prev.btn.btn-tr-blue 
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 15L14 10L9 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							button(type='button').reviews__arrow.reviews__arrow-next.btn.btn-tr-blue 
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 15L14 10L9 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
					ul.reviews__list.swiper
						.swiper-wrapper
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="200")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Сергей
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Руководитель отдела маркетинга ООО “Услуги”
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет.
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="400")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Ольга
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Директор ООО “Рестораны”
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет.
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="600")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал
							li.swiper-slide.reviews__item(data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="800")
								.reviews__item-top
									.reviews__item-avatar
										img(src="./img/picture/reviews-1.png", alt="")
									.reviews__item-title
										p.text-desc-1.color-black 19 октября 2022
										p.text-desc-2.color-black Наталья
								.reviews__item-info
									p.reviews__item-head.text-mob-2.color-black Заказывала для себя
									p.reviews__item-text.text-mob-1.color-grey Заказывали здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. Мне кажется, равных этой студии пока нет. Получилась уникальная в своем
										span.js-text-dots ... 
										span.js-text-btn Показать весь текст
										span.js-text-more  здесь вышивку нашего логотипа на хлопке и некоторых аксессуарах из кожи. Сделали очень качественно и быстро. 
								a(href="#").reviews__item-link.text-desc-2.color-red Смотреть оригинал

		section.section.section__worksheet
			.worksheet.section__container
				.worksheet__wrap
					.worksheet__info.info#js-form-fill
						.info__title.title-mob-2.color-black Закажите вышивку<br>в «Студии Исток-Пром»
						.info__text.text-mob-1.color-grey Оставьте заявку, и мы свяжемся с вами в рабочее время — c 9.00 до 7.00

						form.info__form.info-form
							.info-form__wrap
								label(for='info-form-input-name').info-form__label.form-label
									input(type='text' id='info-form-input-name' placeholder='Имя' required).info-form__input.form-input.text-desc-2
								label(for='info-form-input-tel').info-form__label.info-form__label-half.form-label
									input(type='text' id='info-form-input-tel' placeholder='Телефон' required).info-form__input.form-input.text-desc-2
								label(for='info-form-input-mail').info-form__label.info-form__label-half.form-label
									input(type='text' id='info-form-input-mail' placeholder='Email' required).info-form__input.form-input.text-desc-2
								
								label(for='info-form-input-checkbox').info-form__checkbox.form-checkbox
									input(type='checkbox' id='info-form-input-checkbox' required)
									span.form-checkbox-checkmark
									p.info-form__checkbox-text.form-checkbox-text.text-mob-3.color-grey Согласен с условиями 
										a(href='#').link.color-blue пользовательского соглашения

								button(type='submit').info-form__submit.link.btn.btn-red#js-form-submit
									p.text-mob-2.color-white Оставить заявку
							
					.info.info-form__send#js-form-send
						.info__title.title-mob-2.color-black Спасибо!
						.info__text.text-mob-1.color-grey Данные успешно отправлены

						button(type='submit').info-form__submit.link.btn.btn-red#js-form-back
							p.text-mob-2.color-white Вернуться назад

					
					.worksheet__img
						img(src="./img/picture/worksheet-1.png", alt="")

	include ../../blocks/modules/footer/footer

block scripts
	script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
	script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
	script(src="js/vendor.js")
	script(src="js/main.js")