extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Project title"

block content


    .title-0 Ruda semibold 60/140
    .title-1 Ruda bold 48/140
    .title-2 Ruda semibold 42/140
    .title-3 Ruda semibold 24/140
    .title-4-uppercase Ruda semibold 24/130
    .title-4 Ruda semibold 24/130
    .title-5 Ruda semibold 16/140
    .title-6 Ruda semibold 16/140
    .lead-text-uppercase Ruda semibold 36/140
    .lead-text Manrope Regular 36/145
    .text-1 Manrope Regular 24/145
    .text-2 Manrope Regular 18/145
    .small-text-1 Manrope Regular 16/130
    .small-text-2 Manrope Regular 14/130
    .small-text-3 Manrope Regular 12/130
    
    

    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")