footer.footer
    .footer__container
        .footer__top
            a(href='#').footer__logo
                .footer__logo-svg
                    img(src="img/svg/logo.svg", alt="")
            ul.footer__contact
                li.footer__contact-item
                    span.footer__contact-type.text-desc-1.color-grey Адрес
                    p.footer__contact-value.footer-text.color-black г. Иваново, ул. Маршала Жаворонкова, 9
                li.footer__contact-item
                    span.footer__contact-type.text-desc-1.color-grey Время работы
                    p.footer__contact-value.footer-text.color-black пн-пт с 9:00 до 17:00
                li.footer__contact-item
                    span.footer__contact-type.text-desc-1.color-grey Контакты
                    .footer__contact-block
                        a(href='tel:+7 (4932) 930 998').footer__contact-value.footer-text.link.color-blue.hover +7 (4932) 930 998
                        a(href='mailto:1p@istokprom.ru').footer__contact-value.footer-text.link.color-blue.hover 1p@istokprom.ru
        .footer__wrap
            ul.footer__menu
                li.footer__menu-item
                    a(href='#').footer__menu-link.link.footer-text.color-black.hover Портфолио
                li.footer__menu-item
                    a(href='#').footer__menu-link.link.footer-text.color-black.hover Доставка и оплата
                li.footer__menu-item
                    a(href='#').footer__menu-link.link.footer-text.color-black.hover Договор оферты
                li.footer__menu-item
                    a(href='#').footer__menu-link.link.footer-text.color-black.hover Пользовательское соглашение
                li.footer__menu-item
                    a(href='#').footer__menu-link.link.footer-text.color-black.hover Гарантии
            .footer__question
                .footer__question-text 
                    h4.footer__question-title.title-desc-4.color-black Остались вопросы?
                    p.footer__question-subtitle.text-desc-1.color-grey Менеджер свяжется с вами в ближайшее время
                form(action='').footer__question-form
                    label(for='footer-input-name').footer__question-label.form-label
                        input(type='text' id='footer-input-name' placeholder='Имя').footer__question-input.form-input.text-desc-2
                    label(for='footer-input-phone').footer__question-label.form-label
                        input(type='text' id='footer-input-phone' placeholder='Телефон').footer__question-input.form-input.text-desc-2
                    button(type='submit').footer__question-submit.btn.btn-red
                        p.text-desc-2.color-white Оставить заявку
            .footer__info
                p.text-desc-3.color-black © ООО “Студия Исток-Пром”, 2018- 2022
                p.text-desc-3.color-black Политика конфиденциальности

    .popup
        .popup__order.popup-order
            button(type='button').popup__close
                img(src="img/svg/close.svg", alt="")

            .popup-order__fill#js-popup-order-fill
                .popup-order__title.title-mob-2.color-black Закажите вышивку<br>в «Студии Исток-Пром»
                .popup-order__text.text-mob-1.color-grey Оставьте заявку, и мы свяжемся с вами в рабочее время — c 9.00 до 7.00

                form.popup-order__form
                    .popup-order__wrap
                        label(for='popup-order-input-name').popup-order__label.form-label
                            input(type='text' id='popup-order-input-name' placeholder='Имя' required).popup-order__input.form-input.text-desc-2
                        label(for='popup-order-input-tel').popup-order__label.form-label
                            input(type='text' id='popup-order-input-tel' placeholder='Телефон' required).popup-order__input.form-input.text-desc-2
                        label(for='popup-order-input-mail').popup-order__label.form-label
                            input(type='text' id='popup-order-input-mail' placeholder='Email' required).popup-order__input.form-input.text-desc-2
                        label(for='popup-order-input-textarea').popup-order__label.form-label--textarea
                            textarea(id='popup-order-input-textarea' placeholder='Текст сообщения' required).popup-order__input.form-input.text-desc-2
                        
                        label(for='popup-order-input-checkbox').popup-order__checkbox.form-checkbox
                            input(type='checkbox' id='popup-order-input-checkbox' required)
                            span.form-checkbox-checkmark
                            p.popup-order__checkbox-text.form-checkbox-text.text-mob-3.color-grey Согласен с условиями 
                                a(href='#').link.color-blue пользовательского соглашения

                        button(type='submit').popup-order__submit.link.btn.btn-red#js-popup-order-submit
                            p.text-mob-2.color-white Оставить заявку
                    
            .popup-order__send#js-popup-order-send
                .popup-order__title.title-mob-2.color-black Спасибо!
                .popup-order__text.text-mob-1.color-grey Данные успешно отправлены

                button(type='submit').popup-order__submit.link.btn.btn-red#js-popup-order-back
                    p.text-mob-2.color-white Вернуться назад